/*
====================
Global
====================
*/




/*
====================
Nav bar
====================
*/

#nav {
  background-color: #fef7f5;
  padding-top: 2rem;
  text-align: center;
}

#nav h3 {
  padding: 1rem 0;
}

#nav p {
  padding: 2rem 0;
  margin-bottom: 15px;
}

nav a {
  color: black;
  opacity: 0.5;
  transition: all ease-in-out 250ms;
  text-decoration: none;
}

#logo {
  margin-bottom: 15px;
}

#logo a {
  color: black;
  opacity: 0.8;
  transition: all ease-in-out 250ms;
  text-decoration: none;
}

#logo a:hover {
  color: #0FA0CE;
  opacity: 0.5;
  transition: all ease-in-out 250ms;
  text-decoration: none;
}

/*
====================
Full-width images
====================
*/

.header-image {
  width: 100%;
}

.header-container {
  position: relative;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

.wireframe, #box-model-img, #non-responsive-img, #stickman-painting {
  width: 100%;
}



/*
====================
Main content spacing / styling
====================
*/

.spacer {
  height: 60px;
}

.invisible {
  display: none;
}

.button 

h1 {
  margin-bottom: 2.5rem;
}

h2 {
  margin-bottom: 2.5rem;
}

h4 {
  color: #0FA0CE;
  opacity: 0.5;
  font-size: 2.2rem;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
}

.listanswer {
  opacity: 0.75;
}

a {
  color: #FF8C00;
  transition: all ease-in-out 250ms;
  text-decoration: none;
}

img.thumbnail:hover {
  opacity: 0.5;
  transition: all ease-in-out 250ms;

}

.thumbnails {
  margin-top: 1.4rem;
}


.thumbnails a {
  color: black;
  transition: all ease-in-out 250ms;
}

.thumbnails a:hover {
  color: #FF8C00;
  transition: all ease-in-out 250ms;
}

.thumbnail-heading {
  padding-bottom: 5px;
  margin-bottom: 0;
  padding-top: 3px;
}

.intro h2, h3 {
  text-align: center;
}

.intro {
  margin-top: 6rem;
}

.blog-intro {
  margin-top: 6rem;
}

.thumbnail {
  width: 100%;
}

.thumbnail-excerpt {
  font-size: 14px;
  color:	#696969;
  padding-bottom: 1rem;

}

.side-nav {
  padding-top: 10.1rem;
}

.side-nav-intro {
  padding-bottom: 1rem;
}

.side-nav p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
  margin-right: 15%;
  width: 85%;
}

.side-nav a {
  text-decoration: none;
}

.side-nav a:hover {
  opacity: 0.5;
}

.nav-divider {
  margin: 2.5rem 15% 2.5rem 0;
  width: 85%;
}

canvas {
  margin: 40px auto;
  display: block;
}

/*
====================
Inset class for blog content
====================
*/

.inset-by-two.columns {
  margin-right: 17.3333333333%; 
}


/*
====================
Mobile view - grid
====================
*/

  

/*
====================
Mobile view - nav
====================
*/

@media (max-width: 549px) {
  .nav-button p {
    padding: 0.5rem 0; 
  }
}

@media (max-width: 549px) {
  #logo {
    margin-bottom: 0 !important;
  }

  .intro {
    margin-top: 35px !important;
  }
}



/*
====================
Mobile view - blog side-nav
====================
*/

@media (max-width: 549px) {
  .side-nav {
    display: none;
  }


}


/*
====================
Mobile view - whitespace
====================
*/