header {
    padding: 20px 30px;
    margin: 0;
}

nav h1 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 90px;
}

nav ul {
    display: inline;
    padding-left: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav ul li {
    list-style-type: none;
}

.content {
    padding: 40px 30px;
}

body {
	background-color: pink;
	padding: 15px;
}

/* ----------------------------------------------------------------
	Fonts
-----------------------------------------------------------------*/

h1 {
	font-family: "Open Sans";
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 26.4px;
}
h3 {
	font-family: "Open Sans";
	font-size: 18px;
	font-style: italic;
	font-variant: normal;
	font-weight: 550;
	line-height: 15.4px;
}
p {
	font-family: "Open Sans";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

ul li {
    font-family: "Open Sans";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

/* ----------------------------------------------------------------
	Images
-----------------------------------------------------------------*/

#box-model-img {
	max-width: 400px;
}

#non-responsive-img {
	max-width: 400px;
}

/* ----------------------------------------------------------------
	Go To Top
-----------------------------------------------------------------*/
#gotoTop {
    display: initial;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;  
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
    font-family: "Open Sans";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

body:not(.device-touch) #gotoTop {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear; 
}

#gotoTop a {
    color: #FFF; 
    text-decoration: none;
}

#gotoToptext {
    padding-top: 9px;
}

#gotoTop:hover {
    background-color: #1ABC9C; 
}